BITCOIND_PID_FILE=/home/bitcoin/bitcoind.pid
BITCOIND_CONF=/home/bitcoin/.bitcoin/bitcoin.conf
BITCOIND_DATA_DIR=/home/bitcoin/.bitcoin
BITCOIND_EXTRAARGS="-whitelist=10.0.0.0/8 -whitelist=127.0.0.1 -rpcallowip=10.0.0.0/8 -rpcallowip=127.0.0.1 -rpcuser=user -rpcpassword=pass {{ testnet | ternary('-testnet', '') }}"
