BITCOIND_PID_FILE=/home/bitcoin/bitcoind.pid
BITCOIND_CONF=/home/bitcoin/.bitcoin/bitcoin.conf
BITCOIND_DATA_DIR=/home/bitcoin/.bitcoin
BITCOIND_EXTRAARGS="-rpcbind=0.0.0.0 -rpcuser=user -rpcpassword=pass {{ (DEPLOY_TYPE == "production") | ternary("","-testnet") }}"
