[[inputs.exec]]
    commands = [
		"/opt/telegraf/telegraf_processes.sh bitcoind",
		"/opt/telegraf/telegraf_processes.sh waves",
		"/opt/telegraf/telegraf_processes.sh nbxplorer"
	       ]
    name_override = "process_status"
    data_format = "json"
    timeout = "10s"
