[[inputs.net_response]]
  address = "localhost:18332"
  protocol = "tcp"
  timeout = "5s"
[[inputs.net_response]]
  address = "localhost:18333"
  protocol = "tcp"
  timeout = "5s"
[[inputs.net_response]]
  address = "localhost:6863"
  protocol = "tcp"
  timeout = "5s"
[[inputs.net_response]]
  address = "localhost:6869"
  protocol = "tcp"
  timeout = "5s"
[[inputs.net_response]]
  address = "localhost:24444"
  protocol = "tcp"
  timeout = "5s"
