####Common Commands####
####If Bitcoin Core is running with default settings, you should not need to modify this file####
####All those options can be passed by through command like arguments (ie `-port=19382`)####
## This is the RPC Connection to your node
#btc.rpc.url=http://127.0.0.1:8332/
#By user name and password
btc.rpc.user=user
btc.rpc.password=pass
#By cookie file
#btc.rpc.cookiefile=yourbitcoinfolder/.cookie
#By raw authentication string
#btc.rpc.auth=walletuser:password

## This is the connection to your node through P2P
#btc.node.endpoint=127.0.0.1:BTC

## startheight defines from which block you will start scanning, if -1 is set, it will use current blockchain height
#btc.startheight=-1
## rescan forces a rescan from startheight
#btc.rescan=0
## This is the RPC Connection to your node
#ltc.rpc.url=http://127.0.0.1:9332/
#By user name and password
#ltc.rpc.user=bitcoinuser
#ltc.rpc.password=bitcoinpassword
#By cookie file
#ltc.rpc.cookiefile=yourbitcoinfolder/.cookie
#By raw authentication string
#ltc.rpc.auth=walletuser:password

## This is the connection to your node through P2P
#ltc.node.endpoint=127.0.0.1:LTC

## startheight defines from which block you will start scanning, if -1 is set, it will use current blockchain height
#ltc.startheight=-1
## rescan forces a rescan from startheight
#ltc.rescan=0
## Disable cookie, local ip authorization (unsecured)
#noauth=0
## What crypto currencies is supported
#chains=btc,ltc
## Activate or disable verbose logs
#verbose=0


####Server Commands####
#port=24444
#bind=127.0.0.1
#main=0
testnet=1

