####Common Commands####
####If Bitcoin Core is running with default settings, you should not need to modify this file####
####All those options can be passed by through command like arguments (ie `-port=19382`)####
## This is the RPC Connection to your node
#rpc.url=http://localhost:8332/
#By user name and password
rpc.user=user
rpc.password=pass
#By cookie file
#rpc.cookiefile=yourbitcoinfolder/.cookie
#By raw authentication string
#rpc.auth=walletuser:password

## This is the connection to your node through P2P
#node.endpoint=127.0.0.1:Main

## startheight defines from which block you will start scanning, if -1 is set, it will use current blockchain height
#startheight=-1
## rescan forces a rescan from startheight
#rescan=0
## Disable cookie, local ip authorization (unsecured)
#noauth=0
## Activate or disable verbose logs
#verbose=0


####Server Commands####
#port=24444
#bind=127.0.0.1
testnet=1
#regtest=0
